@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
    position: relative;
    background-color: #aaaaaa;
    height: 100vh;
}

a {
    text-decoration: none;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
    padding: 15px;
    padding-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 95vh;
}

h1 {
    margin-top: 0px;
}
.slider {
    position: relative;
    background-color: white;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
}
.slider-but {
    position: absolute;
    z-index: 1;
    right: 5px;
    width: 128px !important;
    height: 128px;
    opacity: 0;
    transition: all 0.15s linear;
    cursor: pointer;
}
.slider-but:hover {
    opacity: 0.4;
}
.right {
    right: 5px;
}
.left {
    left: 5px;
}
.slider-img {
    transition: all 0.15s ease-in-out;
    height: 200px;
    margin-right: 5px;
    z-index: 0;
}
li {
    list-style: none;
    margin: 0px;
}
ul {
    padding-left: 0px;
}
.avatar {
    width: 64px;
    height: 64px;
}
.avatar-large {
    width: 256px;
    height: 256px;
}
.border-dashed {
    border-bottom: dashed #d1d1d1 1px;
 }
 .br-50 {
    border-radius: 50%;
 }
 button {
    cursor: pointer;
 }
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }