.upload-avatar {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.drop-avatar {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px dashed black;
}