.base-avatar {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 40vw;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    z-index: 3;
    text-align: center;
}

.drop-avatar {
    border: 3px dashed gray;
}