.genreParse {
    overflow: auto;
    text-align: start;
}
@keyframes menu {
    0% {
        transform: translateX(0);
    } 100% {
        
    }
}

.but-fil {
    display: none;
}

.filter {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-left: 10px;
    transition: 0.35s ease-out;
    min-width: 235px;
    background-color: var(--bg-main);

    ul {
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    input[type = "radio"] {
        display: none;
    }
    label {
        cursor: pointer;
    }
    h3 {
        margin-bottom: 8px;
    }
    p {
        margin-top: 1px;
        font-size: 12px;
    }
    input[type = "range"] {
        margin-top: 0;
    }
    li:hover {
        background-color: var(--li-hover);
    }
    li {
        cursor: pointer;
    }
}
.filter li:has(input:checked) {
    background-color: var(--secondary-color-selected);
}

.filter input {
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .filter {
        // С ПОЗИШН ФИКСЕД ОНО НЕ ЗА ЭКРАНОМ
        position: absolute;
        right: 0;
        margin: 0;
        width: 235px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .but-fil {
        display: block;
        position: absolute;
        transition: 0.35s ease-out;
        rotate: -90deg;
    }
    .but-swipe {
        right: 240px;
    }
    
    .but-noswipe {
        right: -16px;
    }
    
    .swipe {
        translate: 0px;
    }
    
    .noswipe {
        translate: 255px;
        animation: menu 0.35s ease-out forwards;
    }
}