.game-section {
    display: inline-block;
    width: 100%;
}

.game-main {
    display: flex;
    // padding-bottom: 1vh;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    width: 100%;
}

.gameCard {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    
    .gameInfo {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        height: 20px;
    }
}
.gameCard:hover {
    transform: scale(120%);
    transition: 0.3s ease-in-out all;
}

// .games {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 3px;
//     width: 100%;
// }

// .gameCard {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-grow: 1 1 0;
//     // flex-basis: 200px;
//     // flex: 1 1 0;
//     flex-grow: 0;
//     // flex-shrink: 5;
//     width: 200px;
//     // object-fit: cover;
    
//     .gameInfo {
//         font-size: 13px;
//         display: flex;
//         justify-content: space-between;
//         height: 20px;
//     }
// }