@media screen and (max-width: 765px) {
    .avatar-nick {
        display: none;
    }
}

header {
    background: #343434;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(50px, 300px) minmax(50px, 200px) 1fr minmax(30px, 220px);
    position: fixed;
    width: 100%;
    z-index: 3;
// 685
    select {
        border: none;
        background-color: #454545;
        color: white;
        text-align: center;
        // transition: 0.3s;
        font-size: 19px;
    }
    select:focus {
        border: none;
        background: #656565;
        outline: none;
    }
    .img-wrapper {
        align-self: center;
        img {
            width: 100%;
        }
    }
    
    input {
        align-self: center;
        height: 55%;
        // margin-left: 0.7%;
    }
    
    a {
        color: white;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .avatar-nickname {
        display: flex;
        justify-content: center;
        align-self: center;

        .avatar {
            width: auto;
            // margin-right: 3px;
        }
    }
}



.search-game {
    left: 22.5%;
    width: 55%;
    display: flex;
    background-color: white;
    position: fixed;
    max-height: 95vh;
    flex-direction: column;
    align-self: center;
    color: #176093;
    z-index: 2;
    font-size: 15px;
    overflow: auto;

    img {
        height: 90px;
    }

    div {
        display: grid;
        grid-template-columns: minmax(0, 245px) 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        padding: 5px;
        border-top: 1px dashed rgb(209, 209, 209);
    }
    div:hover {
        background-color: #d9e8ff;
    }
    p {
        margin: 0px;
    }
}
$margin: 85%;
@media screen and (max-width: 1000px)  {
    header {
        font-size: 17px;
        text-align: center;
        select {
            font-size: 16px;
        }
    }
    .search-game {
        // align-items: center;
        // text-align: center;
        width: $margin;
        left:  calc((100% - #{$margin}) / 2);
    }
}
@media screen and (max-width: 500px)  {
    .search-game {
        text-align: center;
        div {
            display: flex;
            flex-direction: column;
        }
        img {
            object-fit: contain;
        }
    }
}