@keyframes fadeInOut  {
    0% {
        transform: translateY(-7vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes ending {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        display: hidden;
    }
}

.snackbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 0;
    background-color: #1A73E8;
    color: white;
    margin-top: 2vh;
    margin-right: 2vh;
    width: 35vw;
    height: 5vh;
    z-index: 100;
    // animation: 
    //     fadeInOut 0.2s ease-in-out, 
    //     ending 0.2s linear 0.8s;
}