$margin: 8px;

.users-main {
    display: grid;
    gap: 10px;
    .user-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom: dashed #d1d1d1 1px;

        p {
            margin-top: $margin;
            margin-bottom: $margin;
        }
        .right-section {
            width: 150px;
        }
    }
}

.left-section {
    display: flex;

    .left-text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    a {
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        transform: scale(120%);
        transition: all 0.3s ease-in-out;
    }
}
@media screen and (max-width: 500px) {
    .left-section {
        .left-text {
            margin-left: 3px;
        }
    }
    .users-main {
        gap:  0;
    }
}